/Manusia/nbproject/private/
/BelajarObjek/nbproject/private/
/BelajarObjek/build/
/Manusia/build/
/Manusia/dist/
/BelajarObjek/dist/
/BelajarAtribut/nbproject/private/
/BelajarAtribut/build/
/BelajarAtribut/dist/
/BelajarKonstanta/nbproject/private/
/BelajarProsedur/nbproject/private/
/BelajarProsedur/build/
/BelajarFungsi/nbproject/private/
/BelajarFungsi/build/
/BelajarParameter/nbproject/private/
/BelajarParameter/build/
/Latihan/nbproject/private/
/Latihan/build/
/Latihan/dist/
